<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="registration-form">
            <div>
                <!-- Name Field -->
                <div class="form__control">
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" placeholder="Input text" />
                    <span *ngIf="(f['name'].invalid && (f['name'].touched || submitted))" class="text-danger">
                        <span *ngIf="f['name'].errors?.['required']">Name is required.</span>
                        <span *ngIf="f['name'].errors?.['minlength']">Name must be at least 6 characters.</span>
                    </span>
                </div>

                <!-- Email Field -->
                <div class="form__control">
                    <label for="email">Email</label>
                    <input type="text" id="email" formControlName="email" emailValidator placeholder="Input text" />
                    <span *ngIf="(f['email'].invalid && (f['email'].touched || submitted))" class="text-danger">
                        <span *ngIf="f['email'].errors?.['required']">Email is required.</span>
                        <span *ngIf="f['email'].errors?.['invalidEmail']">Invalid email format.</span>
                    </span>
                </div>

                <!-- Password Field -->
                <div class="form__control">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" placeholder="Input text" />
                    <span *ngIf="(f['password'].invalid && (f['password'].touched || submitted))" class="text-danger">
                        Password is required.
                    </span>
                </div>
            </div>

            <div class="form__action">
                <app-button type="submit"></app-button>
            </div>

            <div class="form__text">
                Already have an account? <a routerLink="/login"><strong>Login</strong></a>
            </div>
        </div>
    </form>
</div>
