<div class="course-card">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <p><strong>Created:</strong> {{ creationDate | customDate }}</p>
    <p><strong>Duration:</strong> {{ duration | duration }}</p>
    <p><strong>Authors:</strong> {{ authors.join(', ') }}</p>

    <ng-content></ng-content>

    <button (click)="onShowCourse()">Show Course</button>
    <button *ngIf="isAdmin" (click)="onEditCourse()">Edit</button>
    <button *ngIf="isAdmin" (click)="onDeleteCourse()">Remove</button>
</div>

