<div class="course-list">
    <app-course-card *ngFor="let course of courses$ | async"
                     [title]="course.title"
                     [description]="course.description"
                     [creationDate]="course.creationDate"
                     [duration]="course.duration"
                     [authors]="course.authors"
                     [isAdmin]="isAdmin"
                     (clickOnShow)="onShowCourse(course.id)"
                     (clickOnEdit)="onEditCourse(course.id)"
                     (clickOnDelete)="onDeleteCourse(course.id)">
    </app-course-card>
</div>
