<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Title</label>
        <input type="text" formControlName="title" />
        <div *ngIf="f['title'].invalid">
            <span *ngIf="f['title'].errors?.['required']">Title is required.</span>
            <span *ngIf="f['title'].errors?.['minlength']">Title must be at least 2 characters.</span>
        </div>
    </div>

    <div>
        <label>Description</label>
        <input type="text" formControlName="description" />
        <div *ngIf="f['description'].invalid">
            <span *ngIf="f['description'].errors?.['required']">Description is required.</span>
            <span *ngIf="f['description'].errors?.['minlength']">Description must be at least 2 characters.</span>
        </div>
    </div>

    <div>
        <label>Duration (Minutes)</label>
        <input type="number" formControlName="duration" />
        <div *ngIf="f['duration'].invalid">
            <span *ngIf="f['duration'].errors?.['required']">Duration is required.</span>
            <span *ngIf="f['duration'].errors?.['min']">Duration must be greater than 0.</span>
        </div>
    </div>

    <div>
        <label>Author</label>
        <input type="text" formControlName="author" />
        <button type="button" (click)="addAuthor()">Add Author</button>
        <div *ngIf="f['author'].invalid">
            <span *ngIf="f['author'].errors?.['pattern']">Invalid author name.</span>
            <span *ngIf="f['author'].errors?.['minlength']">Author name must be at least 2 characters.</span>
        </div>
    </div>

    <div>
        <label>Authors List:</label>
        <label>Authors List:</label>
        <ul>
            <li *ngFor="let author of authors.controls; let i = index">
                {{ author.value }} <button type="button" (click)="removeAuthor(i)">Remove</button>
            </li>
        </ul>
    </div>

    <button type="submit">Submit</button>
</form>
